.calc {
    background-color: rgb(73, 0, 116);
    color: rgb(253, 145, 5);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgb(126, 50, 248);

}
input {
    background-color: rgb(155, 204, 140);
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.calc input:focus{
    background: mediumorchid;
    color:rgb(73, 0, 116)
}
#sptotal {
    background-color: rgb(253, 152, 0);
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;

}
.calc button {
    background-color: blanchedalmond;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover {
    background-color: rgb(133, 88, 255);
    color: black;
    cursor: pointer;
}
#spLista {
    text-align: start;
    border-style: dotted;
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 4px;
    background-color: aliceblue;
    color:lightcoral ;
    margin-top: 10px;
}