.calc {
    background: rgb(61, 6, 75);
    color: rgb(255, 252, 247);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 6px rgb(19, 2, 36);
}
.calc input {
    background: rgb(216, 181, 245);
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.calc input:focus {
    background:rgb(248, 161, 0);
    color: blue;
}
#spTotal {
background: rgb(247, 132, 0);
color: rgb(0, 0, 0);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}
.calc button {
    background: rgb(247, 132, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover{
    background: rgb(255, 197, 6);
    color: rgb(253, 114, 0);
    cursor: pointer;
}
#spLista {
    text-align: start;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 4px;
    background: rgb(199, 120, 252);
    color: rgb(110, 3, 250); 
    margin-top: 10px;
}
.calcF {
    display: none;
}
#input-calcFin {
    display: none;
}
#input-calcFin:checked + .calc .calcF {
    display: block;
}
